GitPython
Jinja2
MarkupSafe
Pygments
altair
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
frozendict
gitdb
html5lib
idna
jsonschema
jsonschema-specifications
lxml
markdown-it-py
mdurl
multitasking
narwhals
numpy
packaging
pandas
peewee
pillow
platformdirs
protobuf
pyarrow
pydeck
python-dateutil
pytz
referencing
requests
rich
rpds-py
six
smmap
soupsieve
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
webencodings
yfinance
