{% extends 'base.html' %}
{% load static %}

{% block title %} Criar Conta {% endblock %}

{% block content %}

    <main class="principal">
        <section class="conta">
          <div class="conta__container">
            <div class="checkout__titulos">
              <p class="checkout__titulo">Preencha seus dados para criar sua conta</p>
            </div>
            {% if erro %}
                {%  if  erro == 'email_cadastrado' %}
                    E-mail já cadastrado <a href="{% url 'criar_conta' %}">faça login</a>
                {% else %}
                    <h4 style="color: red;">{{ erro }}</h4>
                {% endif %}
            {% endif %}
            <form class="conta__form" action="{% url 'criar_conta' %}" method="post">
                {% csrf_token %}
  
              <div class="conta__item conta__item--email">
                <label for="email">E-mail</label>
                <input name="email" type="email" placeholder="E-mail" required/>
              </div>

              <div class="conta__item">
                <label for="nome">Senha</label>
                <input name="senha" type="password" placeholder="Senha" required/>
              </div>

              <div class="conta__item">
                <label for="nome">Confirme a Senha</label>
                <input name="confirmacao_senha" type="password" placeholder="Confirme sua Senha" required/>
              </div>
  
              <button class="subtotal__botao" type="submit">
                Criar Conta
              </button>
            </form>
            <a href="{% url 'fazer_login' %}">Já tem conta? Faça o login</a>
          </div>
        </section>
    </main>

{% endblock %}