{% extends 'base.html' %}
{% load static %}

{% block title %} Meus Pedidos {% endblock %}

{% block content %}
    <main class="principal">
        <section class="conta">
        
          <div class="conta__container">
            <div class="checkout__titulos">
              <p class="checkout__titulo">Meus pedidos</p>
            </div>
            {% for pedido in pedidos %}
            <div class="pedido">
              <div class="pedido__cabecalho">
                <div>
                  <p><b>Data do pedido</b></p>
                  <p>{{ pedido.data_finalizado }}</p>
                </div>
  
                <div>
                  <p><b>Total</b></p>
                  <p>R$ {{ pedido.valor_total }}</p>
                </div>
  
                <div>
                  <p><b>Número do pedido</b></p>
                  <p>{{ pedido.codigo_transacao }}</p>
                </div>
              </div>
              
                <div class="pedido__cabecalho">
                    <div>
                    <p><b>Endereço</b></p>
                    <p>{{ pedido.endereco.cep }}, {{ pedido.endereco.cidade }}-{{ pedido.endereco.estado }}</p>
                    </div>
                </div>

              {% for item in pedido.itens %}
              <div class="pedido__corpo">
                
                <div class="tabela__imagem">
                  <img
                    src="{{ item.item_estoque.produto.imagem.url }}"
                    alt="Imagem do Produto"
                  />
                </div>
                <div class="tabela__produto-textos">
                  <p><b>{{ item.item_estoque.produto.nome }}</b></p>
                  <p><b>Tamanho:</b> {{ item.item_estoque.tamanho }}</p>
                  <p><b>Preço:</b> R$ {{ item.item_estoque.produto.preco }}</p>
                  <p><b>Quantidade:</b> {{ item.quantidade }}</p>
                </div>
                
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        
        </section>
      </main>
{% endblock %}